---
---

:first-child+html .clearfix {
  zoom: 1
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table
}
.clearfix:after {
  clear: both
}
.clearfix {
  zoom: 1
}
.comp, .parallax-container .parallax h3 {
  width: 50%;
  color: #fff;
  display: inline-block;
  line-height: 230px;
  margin: 70px 0 0
}
.comp {
  float: left;
  margin: 100px 0 0;
}
.comp .monitor {
  width: 240px;
  height: 160px;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  padding: 9px;
  background: #d68181;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1)
}
.comp .mid {
  float: left;
  display: block;
  height: 100%;
  position: relative;
  background-color: #e4a9a9;
  width: 50%
}
.comp .mid.codigo {
  background-color: #a54949
}
.comp .site {
  overflow: hidden;
  position: absolute;
  width: 105px;
  height: 138px;
  bottom: 0;
  right: 0
}
.comp .site .topbar {
  width: 100%
}
.comp .site .cerrar {
  width: 100%;
  padding: 3px;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
  background-color: #ef8e8e
}
.comp .site .cerrar>div {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #fff;
  margin: 0 1px
}
.comp .site .inhead {
  padding: 2px;
  height: 5px;
  background-color: #ddd8cf
}
.comp .site .inhead .item {
  width: 10px;
  height: 1px;
  background-color: #d1c9bf;
  margin: 0 1px;
  display: block;
  float: left
}
.comp .txr {
  text-align: right
}
.comp .txr .item {
  float: right
}
.comp .inslid {
  width: 100%;
  height: 33px;
  background-color: #efebe2
}
.comp .incont {
  padding-top: 10px;
  background: #fefaf0
}
.comp .incont .item {
  background-color: #d1c9bf;
  width: 53px;
  height: 2px;
  display: block;
  margin: 1px auto 0
}
.comp .incont .item:nth-child(1) {
  width: 20px
}
.comp .incont .item:nth-child(2) {
  margin-top: 3px;
  width: 41px
}
.comp .incont .item:nth-child(3) {
  width: 32px
}
.comp .incont .item:nth-child(4) {
  width: 23px
}
.comp .incont .wid {
  width: 100%;
  padding: 8px 1px
}
.comp .incont .wid .itwid {
  width: 33.333%;
  float: left;
  height: 26px;
  padding: 0 3px
}
.comp .incont .wid .itwid>div {
  width: 100%;
  height: 100%;
  background-color: #f5f1e6;
  position: relative
}
.comp .incont .wid .itwid>div .contfoot {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #ebe5dc
}
.comp .incont .infoot {
  background-color: #efebe2;
  height: 26px;
  width: 100%
}
@-webkit-keyframes code {
  0%, to {
    opacity: 1
  }
  50% {
    opacity: .6
  }
}
@keyframes code {
  0%, to {
    opacity: 1
  }
  50% {
    opacity: .6
  }
}
.comp .codigo {
  padding: 11px 0 14px 14px
}
.comp .codigo .atr, .comp .codigo .cont, .comp .codigo .fun, .comp .codigo .var {
  background-color: #e89b9b;
  -webkit-animation: code;
  animation: code;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.comp .codigo .atr, .comp .codigo .cont, .comp .codigo .fun {
  background-color: #ff4e4e;
  -webkit-animation-duration: .5s;
  animation-duration: .5s
}
.comp .codigo .atr, .comp .codigo .fun {
  background-color: #fdba68;
  -webkit-animation-duration: .2s;
  animation-duration: .2s
}
.comp .codigo .atr {
  background-color: #822929;
  -webkit-animation-duration: .1s;
  animation-duration: .1s
}
.comp .codigo .item {
  height: 3px;
  width: 20px;
  float: left;
  margin-right: 3px
}
.comp .codigo .item.min {
  width: 13px
}
.comp .codigo .item.lrg {
  width: 30px
}
.comp .codigo .line {
  padding: 2px 0;
  width: 100%
}
.comp .codigo .tab1 {
  padding-left: 5px
}
.comp .codigo .tab2 {
  padding-left: 8px
}
.comp .codigo .tab3 {
  padding-left: 10px
}
.comp .codigo .tab4 {
  padding-left: 12px
}
.base {
  width: 290px;
  height: 10px;
  background: #efb7b7;
  display: block;
  margin: 0 auto;
  border-radius: 0 0 6px 6px
}
@media (max-width:700px) {
  .comp {
    float: none;
    width: 100%;
  }
  .parallax-container {
    height: 400px !important;
  }
  .parallax-container .parallax h3 {
    width: 100%;
    text-align: center;
    margin: 30px 0 0;
    line-height: initial;
  }
}
.about-sect {
  clear: both;
  position: absolute;
  margin-top: 300px;
  top: 0
}
@media only screen and (max-width: 991px) {
    .base {
        background: #727f86 !important;
    }
    .monitor {
        background: #4F5B61 !important;
    }
    .comp .mid.codigo {
        background: #3d4346 !important;
    }
    .comp .mid {
        background: #8b8d8e !important;
    }
    .comp .site .cerrar {
        background: #d0d0d0 !important;
    }
}