{% comment %}<script src="https://crate.widgetbot.io/js" server="335836376031428618|339847151288975372" options="0002" color="#495256" beta defer quiet discord></script>{% endcomment %}
<script src="https://crate.widgetbot.io/v2" defer async>
  new Crate({
    server: '335836376031428618',
    channel: '335839575119233024',
    url: 'https://canary.widgetbot.io/channels/335836376031428618/335839575119233024',
    analytics: false,
    logo: 'discord',
    colors: {
      toggle: '#555d61'
    },
    notifications: {
      toasts: {
        visibilityTime: 0
      }
    }
  })
</script>
