<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">About Me</h5>
				<p class="grey-text text-lighten-4">I am a freelancer specializing in a variety of different programming languages and platforms. </p>
				<button data-target="contact" class="waves-effect waves-red btn red lighten-2">Contact</button>&nbsp;&nbsp;<a class="waves-effect waves-red btn-flat red-text text-lighten-3" href="about">More info</a>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Social Media</h5>
				<ul>
					<li><a class="red-text text-lighten-3" href="https://twitter.com/sdenty_" target="blank_">Twitter</a></li>
					<li><a class="red-text text-lighten-3" href="https://facebook.com/samueldenty" target="blank_">Facebook</a></li>
					<li><a class="red-text text-lighten-3" href="https://instagram.com/samdd">Instagram</a></li>
					<li><a class="red-text text-lighten-3" href="https://snapchat.com/add/samueldenty">Snapchat</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy;&nbsp;<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>&nbsp;<b>Samuel Denty</b>
		</div>
		<a class="btn-flat white-text waves-effect waves-red" href="https://statcounter.com/p11396698/summary/?guest=1">
			<i class="material-icons left">trending_up</i>
			<script src="/js/sc.js?{{site.time|date:"%s"}}" site-build="{{site.time|date:"%s"}}" id="statcounter"></script>
			<noscript>
				<img class="statcounter" src="https://c.statcounter.com/11396698/0/8dbb12c1/0/">
			</noscript>
		</a>&nbsp;&nbsp;&nbsp;
	</div>
</footer>

<div id="contact" class="modal">
	<form method="get" action="https://maker.ifttt.com/trigger/contact/with/key/_fkapjdJAPj6aKKtULQ0s/" target="contactFrame">
		<div class="modal-content">
			<h4>Contact</h4>
			<p>Want to make an inquiry? email me at <a href="mailto:business@samdd.me" class="teal-text" target="blank_">business@samdd.me</a></p>
			<div class="row">
				<div class="row">
					<div class="input-field col s6">
						<input id="name" type="text" name="value1" required>
						<label for="name">Name</label>
					</div>
					<div class="input-field col s6">
						<input id="email" type="email" class="validate" name="value2" required>
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="message" class="materialize-textarea" name="value3" required>Hey there,</textarea>
						<label for="message">Message</label>
					</div>
				</div>
			</div>
		</div>
		<iframe width="0" height="0" border="0" name="contactFrame" id="contactFrame"></iframe>
		<div class="modal-footer">
			<a onclick="$(this).closest('form').submit();setTimeout(function() {Materialize.toast('Message sent', 10000)}, 2000)" class="modal-action modal-close waves-effect waves-red btn-flat">Send</a>
		</div>
	</form>
</div>

<div id="search" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="What are you looking for?" type="text" id="searchQuery">
				<label for="searchQuery">Query</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat" onclick="submitSearch()">Search</a>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/materialize.min.js?{{site.time|date:"%s"}}"></script>
<script src="js/custom.js?{{site.time|date:"%s"}}"></script>
{% if page.js %}<script src="{{page.js}}?{{site.time|date:"%s"}}"></script>{% endif %}
{% if page.js2 %}<script src="{{page.js2}}?{{site.time|date:"%s"}}"></script>{% endif %}
{% if page.append %}{{page.append}}{% endif %}
<script src="https://widgetbotbeta.voakie.com/crate.js" server="335836376031428618|358008655364489228" options="0|0|0|2" delay></script>