<div class="navbar-fixed">
            <nav{% if page.url != "/" %} class="block-no-js"{% endif %}>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><img src="res/nav-logo.png"></a>
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="waves-effect waves-light{% if page.url == "/" %} active{% endif %}" href="/">Home</a></li>
                        <li><a class="waves-effect waves-light{% if page.url == "/projects.html" %} active{% endif %}" href="/projects">Projects</a></li>
                        <li><a class="waves-effect waves-light{% if page.url == "/work.html" %} active{% endif %}" href="/work">Work</a></li>
                        <li><a class="waves-effect waves-light" href="https://portal.samdd.me" target="blank_">Portal</a></li>
                        <li><a class="waves-effect waves-light modal-trigger{% if page.url == "/search.html" %} active{% endif %}" href="#search" onclick="prepareSearch()">Search</a></li>
                    </ul>
                    <ul class="side-nav hide-on-large-only" id="mobile-menu">
                        <li><a class="waves-effect" href="/">Home</a></li>
                        <li><a class="waves-effect" href="/projects">Projects</a></li>
                        <li><a class="waves-effect" href="/work">Work</a></li>
                        <li><a class="waves-effect" href="https://portal.samdd.me" target="blank_">Client Portal</a></li>
                        <li><a class="waves-effect modal-trigger" href="#search" onclick="prepareSearch()">Search</a></li>
                    </ul>
                </div>
            </nav>
        </div>